<ul>

	 	
	<%= nav_li "首頁", root_path %>
	<%= nav_li "關於", about_path %>
	<%= nav_li "樂透", math_path %>
	

	<!-- 正規的rails 寫法 -->
	<!--
	<li><%= link_to '首頁', root_path %></li>
	<li><%= link_to '關於', about_path %></li>
	<li><%= link_to '樂透', math_path %></li>
	-->
 </ul>

<% line_number.times do %>
<hr>
<% end %>